/* This file contains styles for the twexted text */
#title {
    width: 50%;
    margin: 5px;
    border: 1px solid #ccc;
}

.twext-para {
	margin: 10px;
	text-align: center;
}
.twext-line {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:auto;
	text-align: center;
	clear:both;
	position: relative;
	height:26px; /* this can be changed to modify the spacing between lines*/
}
.twext-chunk { /* chunks should have been inline blocks or tables, but firefox doesn't support that :( */
	display: inline;
	text-align:center;
}
.twext-chunk span {
	padding:0px;
	display:table-row;
	text-align:center;
}
.twext-text {
	display:inline;
	font: normal bolder 14pt Arial;
	color: #000033;
}
.twext-twxt {
	display:inline;
	font: normal 10pt Arial;
	color: #cccc99;
	position:relative;
	top:-8px; /* this can be change to modify the spacing between text/twxt */
}